body {
  background-color: #eeeeee;
  /*padding: 25px;*/
  padding: 0;
  margin: 0;
}

header {
  border: 1px solid black;
  /*background-color: red;*/
}

main {
  padding: 20px;
  border: 1px solid black;
}

.content {
  /*background-color: white;*/
  width: 800px;
  margin: auto;
  border: 1px solid black;
}

nav {
  /*background-color: lightblue;*/
  padding: 25px;
  border: 1px solid black;
}

li {
  display: inline-block;
  text-decoration: none;
  align-items: center;
}

footer {
  /*background-color: red;*/
  border: 1px solid black;
}

.nav_items {
  float:left;
  
}
