body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
}

/*header {
  border: 1px solid black;
}*/

/*main {
  border: 1px solid black;
}*/

.content {
  /*background-color: white;*/
  width: 800px;
  margin: auto;
  /*border: 1px solid black;*/
}

.contact ul li {
  text-align: center;
  list-style: none;
  padding: 7px;
}

.contact ul li img {
  width: 35px;
  display: inline-block;
}

.background img{
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

a {
  text-decoration: none;
  color: #7d8084;
}

section h1 {
  text-align: center;
}

nav {
  padding: 10px;
  /*border: 1px solid black;*/
}

nav ul {
  float: right;
  font-size: 20px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.contact ul{
  padding: 0;
}

.sources li {
  display: inline-block;
  text-decoration: none;
  align-items: center;
}

footer {
  /*border: 1px solid black;*/
  text-align: center;
}

hr {
  border: 1px solid #e6e6e6;
  width: 75%;
}

nav h1 {
  display: inline-block;
}

footer ul li {
  padding-right: 30px;
}

footer p {
  padding: 20px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration:  none;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.background {
  width: 100%;
  height: 100%;
}

.col-md-3 {
  padding: 30px;
}

.col-md-3 img {
  width: 100px;
}

.projects {
  padding: 40px 0;
}

.contact {
  padding: 0 0 40px 0;
}

.skills {
  padding: 40px 0;
}

.teamwork {
  padding: 40px 0;
}

.html {
  text-align: center;
}

.css {
  text-align: center;
}

.javascript {
  text-align: center;
}

.bootstrap {
  text-align: center;
}

.git {
  text-align: center;
}

.angular {
  text-align: center;
}

.node {
  text-align: center;
}

.ruby {
  text-align: center;
}

.progress{
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #eee;
  margin-top: 15px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 2px -1px 7px #b7b333eb;
}

/*.progress-bar-stripped.html {
  width: 90%;
}*/
/*.quote{
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.quote h3{
  text-align: center;
}*/


/* ----- MEDIA QUERIES ----- */
@media (max-width: 768px) {
  body {
    font-size: 25px;
  }

  .sources {
    display: none;
  }
  .nav {
    text-align: center;
  }

  ul {
    text-align: center;
  }

  .content {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 25px;
  }

  .background {
    display: hidden;
  }

  .sources {
    display: hidden;
  }

  .nav {
    text-align: center;
  }

  ul {
    text-align: center;
  }

  .content {
    width: 100%;
    margin: 10px;
  }

  .projects {
    display: none;
  }

  .skillsimage {
    display: none;
  }

  .teamwork{
    display: none;
  }
}

@media (min-width: 992px) {
  br {
    display: none;
  }
 }
